<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="admin.js"></script>


    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Admin Dashboard Panel</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../../../../assets/2.png" height="50px" alt="MDB Logo" loading="lazy" />
          </a>
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a>
                    <span class="link-name" routerLink="getallpatients">Patients</span>
                </a>
              </li>
              <li class="nav-item">
                <a>
                    <span class="link-name" routerLink="getallproviders">Healthcare Providers</span>
                </a>
              </li>
              <li class="nav-item">
                <a>
                    <span class="link-name" routerLink="getallcompanies">Insurance Companies</span>
                </a>
              </li>
              <li class="nav-item">
                <a>
                    <span class="link-name" routerLink="getallplans">Insurance Plans</span>
                </a>
              </li>
              <li class="nav-item">
                <a>
                    <span class="link-name" routerLink="getallinvoices">Invoice Details</span>
                </a>
              </li>
              <li class="nav-item">
                <a>
                    <span class="link-name" routerLink="addadmin">Add New Admin</span>
                </a>
              </li>
              <li class="nav-item">
                <a (click)="logoutAdmin()">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
    <section class="dashboard">

        <div class="dash-content">
            <div class="overview">
                <div class="card tall-card">
                    <div class="container-fluid">
                        <div class="title">
                            <h3 class="text p-2"> Welcome {{adminname}}</h3>
                        </div>

                        <div style="padding-left: 20px; padding-right: 20px;">
                        <router-outlet></router-outlet>
                        </div>


                    </div>
                </div>
            </div>
        </div>


    </section>
    <!-- <footer class="copyright">
        <p class="text"> Medical Billing and Cliams Management System </p>
    </footer> -->



</body>

</html>